body {
  background-image: url("../../components/images/background.jpg");
  position: relative;
  bottom: 0;
  width: auto;
  height: auto;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.p-bottom {
  margin: 10px;
  font-size: 2.5em;
}

.p-bottom,
h2 {
  color: white;
  text-shadow: black 2px 2px;
  font-family: "Bree Serif", serif;
}

a {
  text-decoration: none;
  color: yellow;
  font-family: "Bree Serif", serif;
}
